# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local
.env.production

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Database
*.db
*.sqlite
*.sqlite-journal

# Prisma
prisma/*.db
prisma/*.sqlite
prisma/migrations/*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary
tmp/
temp/
*.tmp